<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!--<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/pages/"/>
		<property name="suffix" value=".ftl"/>
	</bean>-->

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:jdbc.properties</value>
				<value>classpath*:const.properties</value>
				<!--<value>classpath*:jms.properties</value>
				<value>classpath*:dubbo.properties</value>
				<value>classpath*:redis.properties</value>
				<value>classpath*:router_redis.properties</value>-->
			</list>
		</property>
	</bean>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<!-- 国际化信息所在的文件名 -->
		<property name="basename" value="messages.message"/>
		<!-- 如果在国际化资源文件中找不到对应代码的信息，就用这个代码作为名称  -->              
    	<property name="useCodeAsDefaultMessage" value="true"/>
	</bean>

	<!-- 基于Session的国际化实现 -->
 	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />


	<import resource="classpath*:spring-aop.xml" />
	<import resource="classpath*:spring-dao.xml"/>
	<import resource="classpath*:spring-database.xml"/>
	<import resource="classpath*:spring-jms.xml"/>
	<import resource="classpath*:dubbo-server.xml"/>
</beans>
